h1 {
  font-family: 'Work Sans', sans-serif;
}

h3 {
  color: #7d97ad;
  padding: 15px 0px 0px 15px
}

h4{
  padding-top: 10px;
}

h6 {
  margin-top: -15px;
}

hr {
  background-color: #7d97ad;
}

.logo {
  width: 100px;
  height: 100px;
}

article a{
  color: #393e45;
}

.feature-img {
  width: 555px;
  height: 250px;
  -webkit-transition-duration: 1s;
}

.feature-img:hover{
  box-shadow: 2px 2px 15px #817FA0;
  -webkit-transition-duration: 1s;
}

.slide-img {
  width: 1140px;
  height: 350px;
}

.column, .columns {
  padding-left: 0.2rem;
  padding-top: 0.2rem;
}
