h1 {
  font-family: 'Work Sans', sans-serif;
}

h3 {
  color: #7d97ad;
  padding: 15px 0px 0px 15px
}

h6 {
  margin-top: -15px;
}

hr {
  background-color: #7d97ad;
}

.logo {
  width: 100px;
  height: 100px;
}

.feature-img {
  width: 555px;
  height: 250px;
}

.slide-img {
  width: 1140px;
  height: 350px;
}

.column, .columns {
  padding-left: 0.2rem;
  padding-top: 0.2rem;
}
